{% extends "layout.html" %}
{% block body %}


    <!-- team -->
    
    <section class="team text-center" style="padding-top:0rem;padding-bottom:0rem;max-height: 90.5vh;">
        <div class="container">
          <div class="header my-5">
            <h1>Meet our Team </h1>
            <hr style="width: 200px;height:2px; margin: 10px auto;color:white">
            <p>Meet and Greet our Team Members</p>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="img-block mb-5">
                <img src="../static/img/A.JPG" width="500" height="500" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                <div class="content mt-2">
                  <h4>Abiral Khadka</h4>
                  <p>KAN074BCT004</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 ">
              <div class="img-block mb-5">
                <img src="../static/img/AP.JPG" width="500" height="500" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                <div class="content mt-2">
                  <h4>Ayush Panta</h4>
                  <p>KAN074BCT015</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="img-block mb-5">
                <img src="../static/img/KAN074BCT021.jpg" width="500" height="500" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                <div class="content mt-2">
                  <h4>Deelasha Mulmi</h4>
                  <p>KAN074BCT021</p>
                  <!-- <p class="text-muted">Joomla Specialist</p> -->
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="img-block mb-5">
                <img src="../static/img/KAN074BCT047.jpg" width="500" height="500" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                <div class="content mt-2">
                  <h4>Palisha Shakya</h4>
                  <p>KAN074BCT047</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- team -->

{% endblock %}